.slider__item {
  position: relative;
}

.slides__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.slides__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  -webkit-filter: invert(55%) sepia(5%) saturate(2034%) hue-rotate(356deg) brightness(96%) contrast(90%);
          filter: invert(55%) sepia(5%) saturate(2034%) hue-rotate(356deg) brightness(96%) contrast(90%);
}

.slides__count span:nth-child(2) {
  padding: 0 calc(9px + (10 - 9) * ((100vw - 1024px) / (1920 - 1024)));
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  width: 30px;
  height: 8px;
  font-size: 0;
}

.slick-arrow.slick-prev {
  background: url("./../assets/img/welcome_slider/prev.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  background: url("./../assets/img/welcome_slider/next.svg") 0 0/100% no-repeat;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.slick-dots li.slick-active button {
  background-color: #d2b183;
}

.slick-dots button {
  font-size: 0;
  width: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
  height: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));
  background-color: #ffffff;
}

.slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, black), color-stop(8%, rgba(0, 0, 0, 0.647794)), color-stop(21%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, black 1%, rgba(0, 0, 0, 0.647794) 8%, rgba(0, 0, 0, 0) 21%);
}

@media (max-width: 768px) {
  .slick-arrow {
    width: calc(20px + (30 - 20) * ((100vw - 420px) / (768 - 420)));
    height: 8px;
    font-size: 0;
  }
  .slick-dots button {
    width: calc(8px + (12 - 8) * ((100vw - 420px) / (768 - 420)));
    height: calc(8px + (12 - 8) * ((100vw - 420px) / (768 - 420)));
  }
  .slides__count {
    font-size: calc(16px + (22 - 16) * ((100vw - 420px) / (768 - 420)));
  }
  .slick-dots {
    -webkit-column-gap: calc(10px + (25 - 10) * ((100vw - 420px) / (768 - 420)));
            column-gap: calc(10px + (25 - 10) * ((100vw - 420px) / (768 - 420)));
  }
  .slides__arrows {
    padding-bottom: 2px;
    -webkit-column-gap: calc(15px + (20 - 15) * ((100vw - 420px) / (768 - 420)));
            column-gap: calc(15px + (20 - 15) * ((100vw - 420px) / (768 - 420)));
  }
  .slides__count span:nth-child(2) {
    padding: 0 calc(5px + (10 - 5) * ((100vw - 420px) / (768 - 420)));
  }
  .slider__item::before {
    display: none;
  }
}

@media (max-width: 420px) {
  .slides__arrows {
    padding-top: 9px;
  }
}
