//МИКСИНЫ================================
@import "mixin.scss";
//МИКСИНЫ================================

.header {
   background-color: var(--bg-dark);
   &__row {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 51px 0 49px;
   }
}

.logo {
   @include flexbox();
   align-items: center;

   &__title {
      font-family: Forum;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 28px;
      line-height: 50px;
      letter-spacing: 5px;
      padding-left: 73px;
      font-weight: 400;
      background: url("./../assets/svg/louvre.svg") left no-repeat;
      background-size: 49px 36px;
      opacity: 0.8;
   }

   &__title:hover {
      filter: invert(0%) sepia(99%) saturate(20%) hue-rotate(220deg) brightness(60%) contrast(101%);
      transition: linear 0.2s;
   }
}
.menu {
   &__container {
      // max-width: 770px;
   }

   &__icon {
      display: none;
   }

   &__social,
   &__images {
      display: none;
   }

   &__list {
      @include flexbox();
      align-items: center;
      justify-content: flex-end;
      column-gap: 11.4%;
   }

   &__item {
      line-height: 50px;
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 2px;
      color: #ffffff;
      opacity: 0.75;
   }

   &__item:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
   }
}

@media (max-width: 1024px) {
   .menu__list {
      // display: none;
   }
   .logo__title {
      line-height: 31px;
   }
   .header__row {
      padding: 51px 0 48px;
   }

   .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 32px;
      height: 18px;
      cursor: pointer;
   }

   .menu__icon::before,
   .menu__icon::after,
   .menu__icon span {
      position: absolute;
      width: 100%;
      height: 11.18%;
      left: 0;
      transition: all 0.3s ease 0s;
      background-color: #ffffff;
   }

   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }
   .menu__icon::before {
      top: -2px;
   }
   .menu__icon::after {
      bottom: 2px;
   }
   /* показываем полочку в центре */
   .menu__icon span {
      top: 44%;
      transform: scale(1) translate(0px, -50%);
   }
   /* убираем полоску в центре */
   .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);
   }

   .menu__icon._active {
      left: 4px;
      top: -2px;
   }

   .menu__icon._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
      background-color: #fff;
   }
   .menu__icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
      background-color: #fff;
   }

   .header {
      // position: relative;
   }

   .menu {
      position: absolute;
      z-index: 10;
      top: 130px;
      width: 29.005%;
      max-height: 585px;
      left: -100%;
      background-color: #030303;
      padding: 0;
      transition: left 0.5s ease 0s;
      overflow: auto;
   }

   .menu._active {
      left: 0;
   }

   .menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      column-gap: 0;
      row-gap: 25px;
      padding: 35px 55px;
   }
   .menu__item {
      font-size: 20px;
      line-height: 23.3px;
      font-weight: 300;
      position: relative;
   }

   .menu__item::after {
      content: "";
      position: absolute;
      background: url("./../assets/svg/arrow-burger.svg") center no-repeat;
      width: 12px;
      height: 12px;
      left: 110px;
      top: 20%;
   }
}

@media (max-width: 768px) {
   .header__row {
      padding-top: calc(44px + (51 - 44) * ((100vw - 768px) / (1024 - 768)));
      padding-bottom: calc(34px + (48 - 34) * ((100vw - 768px) / (1024 - 768)));
   }

   .menu {
      height: calc(502px + (861 - 502) * ((100vw - 420px) / (768 - 420)));
      max-height: 841px;
      width: 100%;
      &__list {
         padding-top: 14px;
         padding-bottom: 0;
      }
      &__icon::before {
         top: -5px;
      }
      &__icon::after {
         bottom: 4px;
      }
      &__icon span {
         top: 27%;
      }
      &__icon._active {
         top: -4px;
      }
      &__social,
      &__images {
         display: block;
         position: relative;
      }
      &__images {
         padding: 35px 55px;
      }
      &__images .img {
         display: flex;
         flex-wrap: wrap;
         row-gap: 20px;
         column-gap: 20px;
      }
      &__images .img img {
         object-fit: cover;
         width: calc(95px + (319 - 95) * ((100vw - 420px) / (768 - 420)));
      }
      &__images .img img:first-of-type {
         width: calc(210px + (658 - 210) * ((100vw - 420px) / (768 - 420)));
         height: calc(95px + (194 - 95) * ((100vw - 420px) / (768 - 420)));
      }
      &__images::after {
         content: "";
         position: absolute;
         background: #666666;
         bottom: 0;
         left: 55px;
         width: 85.68%;
         height: 1px;
      }

      &__social .social__body {
         padding: 35px 0;
      }
      &__social {
         display: flex;
         justify-content: center;
      }
   }
}

@media (max-width: 420px) {
   .menu {
      width: 100%;
      &__list {
         padding-top: 0px;
         padding-bottom: 0;
         row-gap: 33px;
      }
      &__item {
         line-height: 15px;
      }

      &__icon::before {
         top: -2px;
      }
      &__icon::after {
         bottom: 2px;
      }
      &__social .social__body {
         padding: 24px 0;
      }
      &__icon span {
         top: 34%;
      }
      &__icon._active {
         top: -4px;
      }
      &__images .img img {
         width: 95px;
         height: 95px;
      }
      &__images .img img {
         width: calc(30px + (95 - 30) * ((100vw - 310px) / (420 - 310)));
         height: calc(30px + (95 - 30) * ((100vw - 310px) / (420 - 310)));
      }
      &__images .img img:first-of-type {
         width: calc(30px + (95 - 30) * ((100vw - 310px) / (420 - 310)));
         height: calc(30px + (95 - 30) * ((100vw - 310px) / (420 - 310)));
         order: -1;
      }
      &__images .img img:nth-of-type(2) {
         order: -2;
      }
      &__images .img {
         column-gap: 12px;
      }
      &__images {
         padding: 35px 55px 23px;
      }
   }
}

@media (max-width: 420px) {
   .logo__title {
      font-size: calc(16px + (28 - 16) * ((100vw - 420px) / (768 - 420)));
      line-height: 26px;
      background-size: 30px 19px;
      padding-left: 54px;
   }
   .menu__images::after {
      width: 76.68%;
   }
}
@media (max-width: 410px) {
   .menu__social .social__body {
      display: none;
   }
}
