//МИКСИНЫ================================
@import "mixin.scss";
//МИКСИНЫ================================

input {
   font-family: inherit; /* 1 */
   font-size: inherit; /* 1 */
   line-height: inherit; /* 1 */
   margin: 0; /* 2 */
}

.popup {
   padding-top: 10px;
   position: fixed;
   left: -100%;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   transition: 0.7s;
   background-color: rgba(0, 0, 0, 0.6);
   overflow-y: scroll;

   &__wrapper {
      position: relative;
   }

   &__overlay {
      position: fixed;
      content: "";
      height: 200vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.6);
      left: -120%;
      bottom: 0;
      transition: 0.7s;
   }

   &__close {
      cursor: pointer;
      position: absolute;
      z-index: 10000;
      left: 84.6%;
      top: 12.8%;
      width: 25px;
      height: 25px;
      background: url("./../assets/popup/Close.svg") no-repeat;
   }

   &__close:hover {
      transform: scale(1.1);
   }
}

.popup._active {
   left: 0;
}

.form {
   &__body {
      position: relative;
      z-index: 1001;
      padding-top: 90px;
      margin-bottom: 90px;
      min-height: 100%;
      display: flex;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
   }

   &__row {
      display: flex;
   }

   &__left {
      padding-right: 20px;
   }

   &__section {
      padding-top: 60px;
      display: flex;
   }

   &__icon {
      position: relative;
   }

   &__icon::before {
      content: "";
      position: absolute;
      display: flex;
      align-items: center;
      top: 15px;
      left: 15px;
      bottom: 0;
   }

   &__border {
      display: block;
      color: #030303;
      font-size: 18px;
      font-weight: 400;
      width: 190px;
      height: 45px;
      border: solid 1px #030303;
   }

   &__item input[type="date"]::-webkit-calendar-picker-indicator,
   &__item input[type="time"]::-webkit-calendar-picker-indicator {
      opacity: 0;
   }
   &__item input[type="date"] {
      background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
      cursor: pointer;
   }

   &__item-text input[type="text"] {
      background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
      cursor: pointer;
   }

   &__item input {
      padding: 12px 0 12px 43px;
      margin-right: 20px;
      margin-bottom: 20px;
   }

   &__item select {
      padding: 12px 0 11px 43px;
      margin-right: 20px;
      margin-bottom: 20px;
   }

   &__time input {
      padding: 12.6px 0 12.3px 40px;
   }

   &__date::before {
      width: 15px;
      height: 15px;
      background: url("./../assets/popup/date.svg") center no-repeat;
   }

   &__name input,
   &__email input,
   &__tel input,
   &__ticket select {
      width: 400px;
   }

   &__name input:focus,
   &__email input:focus,
   &__tel input:focus,
   &__ticket select:focus,
   &__date input:focus,
   &__time input:focus {
      box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
   }

   &__item input::placeholder {
      // font-size: 18px;
      color: #000000;
   }

   &__item input:focus::-webkit-input-placeholder {
      color: transparent;
   }

   &__name::before {
      width: 13px;
      height: 15px;
      background: url("./../assets/popup/name.svg") center no-repeat;
   }

   &__email::before {
      top: 17px;
      width: 15px;
      height: 11px;
      background: url("./../assets/popup/email.svg") center no-repeat;
   }

   &__tel::before {
      top: 11px;
      width: 14px;
      height: 23px;
      background: url("./../assets/popup/tel.svg") center no-repeat;
   }

   &__ticket select {
      appearance: none;
      background: url("./../assets/popup/arrow.svg") no-repeat 96% 50%;
      margin-right: 0;
   }

   select.ticket option:hover {
      box-shadow: 0 0 10px 100px #740c11 inset;
   }

   &__ticket::before {
      top: 15.6px;
      width: 15px;
      height: 15px;
      background: url("./../assets/popup/ticket.svg") center no-repeat;
   }

   &__entry {
      display: flex;
      flex-direction: column;
      border: solid 1px #030303;
      max-width: 400px;
      padding: 10px 0;
   }

   &__right {
      padding: 25px 30px 26px;
      border: 1px solid #030303;
   }
}
.left {
   &__title {
      font-family: Forum;
      font-weight: 400;
      font-size: 50px;
      line-height: 55px;
      text-transform: uppercase;
      color: #9d8665;
      padding-bottom: 13px;
   }

   &__subtitle {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #710707;
      padding-bottom: 13px;
   }
   &__subtitle:after {
      content: "";
      position: absolute;
      background: #740c11;
      bottom: 0;
      left: 0;
      width: 400px;
      height: 2px;
   }
}

.form__name {
   position: relative;
}
.form__email {
   position: relative;
}
.form__tel {
   position: relative;
}
.message {
   position: absolute;
   display: none;
   bottom: -16px;
   left: 0;
   width: 400px;
   height: 14px;
   color: #ffffff;
   font-size: 11px;
   padding-left: 2px;
   padding-top: 2px;
   background-color: red;
}

.message1 {
   position: absolute;
   display: none;
   bottom: -16px;
   left: 0;
   width: 400px;
   height: 14px;
   color: #ffffff;
   font-size: 11px;
   padding-left: 2px;
   padding-top: 2px;
   background-color: red;
}
.message2 {
   position: absolute;
   display: none;
   bottom: -16px;
   left: 0;
   width: 400px;
   height: 14px;
   color: #ffffff;
   font-size: 11px;
   padding-left: 2px;
   padding-top: 2px;
   background-color: red;
}

.activity {
   border: 1px solid red;
}
.entry {
   &__title {
      position: relative;
      padding: 0px 0 5px 15px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      font-family: Forum;
      color: #9d8665;
   }
   &__title::before {
      position: absolute;
      content: "";
      background: #740c11;
      height: 1px;
      bottom: 0;
      width: 370px;
   }

   &__basic {
      display: flex;
      justify-content: space-between;
      padding: 19px 15px 18px;
   }

   &__senior {
      padding: 0 15px 0px;
   }

   &__text {
      font-size: 18px;
      line-height: 21px;
      color: #030303;
      font-weight: 400;
   }

   &__number {
      @include flexbox();
      margin-top: -5px;
      margin-bottom: 2px;
      width: 111px;
      height: 28px;
      border: solid 1px #030303;
      .number {
         appearance: none;
         width: 37px;
         text-align: center;
         margin-left: 10px;
         outline: none;
         margin: 0 auto;
         font-weight: 400;
         font-size: 18px;
         line-height: 21px;
         color: #030303;
      }
   }

   &__sign {
      background-color: #030303;
      width: 37px;
      height: 27px;
   }

   &__minus,
   &__plus {
      color: #ffffff;
      font-size: 20px;
   }
}

.right {
   &__overview {
      max-width: 530px;
      padding: 0 0 18px;
   }

   &__row {
      display: flex;
      column-gap: 123px;
   }

   &__title {
      font-size: 32px;
      line-height: 37px;
      color: #272727;
      font-weight: 500;
      padding-bottom: 4px;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #740c11;
      opacity: 0.9;
      padding-bottom: 10px;
   }

   &__day,
   &__time,
   &__ticket {
      color: #030303;
      font-size: 18px;
      line-height: 21px;
      font-weight: 300;
      padding-bottom: 6px;
      // для вставки иконок
      padding-left: 30px;
   }

   &__day {
      background: url("./../assets//popup/date.svg") left top no-repeat;
   }

   &__time {
      background: url("./../assets//popup/time.svg") left top no-repeat;
   }

   &__ticket {
      background: url("./../assets//popup/ok.svg") left 2px no-repeat;
   }

   &__button {
      display: flex;
      justify-content: flex-end;
      padding-top: 26px;
   }
}

.total {
   &__basic {
      display: flex;
      justify-content: space-between;
      padding: 0 0 5px;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      color: #030303;
   }

   &__description {
      display: flex;
   }

   &__senior {
      position: relative;
      padding-bottom: 10px;
   }

   &__senior::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: #740c11;
      height: 2px;
      width: 100%;
   }

   &__number {
      width: 32px;
      height: 20px;
      background-color: #030303;
      border-radius: 5px;
      color: #a4a4a3;
      text-align: center;
      padding: 1px 0;
      font-size: 18px;
      line-height: 21px;
   }

   &__text {
      padding-left: 10px;
      line-height: 22px;
   }

   &__total {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      font-size: 32px;
      color: #030303;
      line-height: 37px;
      font-weight: 400;
   }

   &__result {
      font-weight: 500;
   }
}

.right {
   &__card {
      position: relative;
      height: 241px;
   }
}
.card {
   &__row {
      display: flex;
   }

   &__data {
      position: relative;
      border-radius: 3px;
      background: #bcbcbc;
      z-index: 10;
   }

   &__cvc {
      position: absolute;
      border-radius: 3px;
      right: 0;
      top: 30px;
      z-index: 5;
      background: #939393;
   }
}
.data {
   &__body {
      padding: 15px 20px;
   }

   &__row {
      display: flex;
      flex-direction: column;
   }

   &__cardnumber {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;
      color: #161615;
   }

   &__input input {
      width: 215px;
      height: 35px;
      padding: 10px;
   }

   &__input {
      padding-bottom: 10px;
   }

   &__inputs {
      display: flex;
   }

   &__inputs input {
      position: relative;
      width: 100px;
      height: 35px;
      padding: 10px 8px;
      margin: 0 15px 10px 0;
   }

   &__cardholder input {
      height: 35px;
      width: 320px;
      padding: 10px;
   }
}

.inputs__number {
   position: relative;
}

.inputs__number input[type="number"]::-webkit-inner-spin-button,
.inputs__number input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   // display: block;
   width: 10px;
   opacity: 1;
}

.inputs__number::before {
   content: "";
   position: absolute;
   right: 15px;
   opacity: 0.8;
   width: 28px;
   height: 35px;
   pointer-events: none;
   z-index: 1;
   border-left: 0.5px solid #a4a4a3;
   background: url("./../assets/popup/up-arrow.svg") 11px 12px no-repeat,
      url("./../assets/popup/down-arrow.svg") 11px 19px no-repeat;
}

.logos {
   &__row {
      display: flex;
      flex-direction: column;
      padding-top: 19px;
   }

   &__visa {
      padding-bottom: 15px;
   }

   &__visa:last-child {
      padding-bottom: 0;
   }
}
.cvc {
   &__row {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__line {
      margin: 25px 0 15px 0;
      background-color: #161615;
      width: 100%;
      height: 45px;
   }

   &__text {
      padding: 0 34px 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #161615;
   }

   &__input {
      width: 75px;
      height: 35px;
      padding: 10px;
      margin-right: 20px;
   }

   &__description {
      max-width: 55px;
      margin: 8px 30px 20px 0;
      font-size: 10px;
      line-height: 11px;
      font-weight: 400;
   }
}

.right__button button {
   display: block;
   position: relative;
   overflow: hidden;
   width: 220px;
   height: 45px;
   background: #710707;
   color: #ffffff;
   font-size: 22px;
   line-height: 24px;
   font-weight: 400;
}

.right__button button:hover {
   transform: scale(0.97);
}

.right__button button:focus {
   outline: none;
}
.cvc__row {
   min-width: 360px;
}

.circle {
   position: absolute;
   background-color: #fff;
   border-radius: 50%;
   transform: scale(0);
   animation: pulse 0.7s ease-out;
}

@keyframes pulse {
   to {
      transform: scale(2.2);
      opacity: 0;
   }
}

@media (max-width: 1024px) {
   .popup {
      width: 100%;
      // max-height: 768px;
   }
   .entry__number {
      width: 105px;
   }
   .popup__close {
      top: 10.9%;
      left: 94.7%;
   }
   .form__body {
      padding: 75px 0 30px;
   }
}

@media (max-width: 1023px) {
   .form {
      &__row {
         flex-direction: column;

         row-gap: 51px;
         min-width: 530px;
      }
      &__body {
         padding: 40px 0;
      }
      &__left {
         padding-right: 0;
      }
      &__right {
         max-width: 530px;
         padding: 25px 15px 23px;
      }

      &__section {
         padding-top: 40px;
      }
      &__entry {
         width: 530px;
         max-width: inherit;
      }

      &__item input,
      &__time select {
         width: 251px;
         height: 44.88px;
      }

      &__item input[placeholder="Date"] {
         margin-right: 28px;
      }

      &__name input,
      &__email input,
      &__tel input,
      &__ticket select {
         width: 530px;
      }
   }
   .left__subtitle:after {
      width: 530px;
   }
   .right__row {
      column-gap: 154px;
   }
   .total__total {
      padding: 10px 0 14px;
   }
   .right__ticket {
      white-space: nowrap;
   }
   .form__item-text input[type="text"] {
      background-position: 94% 50%;
   }
   .popup__close {
      top: 1.7%;
      left: 74.6%;
   }
   .entry__title:before {
      width: 500px;
   }
}

@media (max-width: 768px) {
   .left__subtitle:after {
      width: calc(360px + (530 - 360) * ((100vw - 420px) / (768 - 420)));
   }
   .popup__close {
      top: 1.7%;
      left: 79.6%;
   }
   .left__title {
      font-size: calc(32px + (50 - 32) * ((100vw - 420px) / (768 - 420)));
      line-height: calc(35.3px + (55 - 35.3) * ((100vw - 420px) / (768 - 420)));
   }
   .form {
      &__item input {
         width: calc(360px + (251 - 360) * ((100vw - 420px) / (768 - 420)));
         height: 45px;
      }

      &__right {
         max-width: calc(360px + (530 - 360) * ((100vw - 420px) / (768 - 420)));
      }

      &__name input,
      &__email input,
      &__tel input,
      &__ticket select,
      &__time select {
         width: calc(360px + (530 - 360) * ((100vw - 420px) / (768 - 420)));
      }

      &__item input[placeholder="Date"] {
         margin-right: 28px;
      }
      &__entry {
         width: calc(360px + (530 - 360) * ((100vw - 420px) / (768 - 420)));
      }
      .entry__title:before {
         width: calc(330px + (500 - 330) * ((100vw - 420px) / (768 - 420)));
      }
   }
   .right__row {
      column-gap: calc(14px + (154 - 14) * ((100vw - 420px) / (768 - 420)));
   }
   .right__button {
      padding-top: calc(40px + (26 - 40) * ((100vw - 420px) / (768 - 420)));
   }
   .right__img img {
      display: block;
      width: 100%;
      max-width: 150px;
   }
   .cvc__row {
      min-width: 360px;
   }
   .form__left {
      padding-left: 0px;
   }
   .data__cardholder input {
      width: calc(290px + (320 - 290) * ((100vw - 420px) / (768 - 420)));
   }
}

@media (max-width: 760px) {
   .form__section {
      display: block;
   }
   .form__row {
      align-items: center;
   }
   .form__left {
      padding-left: 22px;
   }

   .card__cvc {
      position: static;
   }
   .form__right {
      height: auto;
   }
   .right__card {
      height: auto;
   }
   .card__row {
      flex-direction: column;
      row-gap: calc(21px + (40 - 21) * ((100vw - 420px) / (760 - 420)));
   }
   .cvc__row {
      min-width: 200px;
   }
   .form__item-text input[type="text"] {
      background-position: 97% 50%;
   }
   .form__item input[placeholder="Date"] {
      margin-right: 28px;
   }
   .right__img img {
      max-width: 120px;
   }
}
@media (max-width: 420px) {
   .popup__close {
      top: 1.5%;
      left: 86.6%;
   }
   .form__item input {
      width: calc(251px + (360 - 251) * ((100vw - 320px) / (420 - 320)));
      height: 45px;
   }
   .form__ticket select,
   .form__time select {
      width: calc(251px + (360 - 251) * ((100vw - 320px) / (420 - 320)));
   }
   .left__subtitle:after {
      width: calc(251px + (360 - 251) * ((100vw - 320px) / (420 - 320)));
   }

   .form__entry {
      width: calc(251px + (360 - 251) * ((100vw - 320px) / (420 - 320)));
   }

   .data__cardholder input {
      width: calc(251px + (290 - 251) * ((100vw - 320px) / (420 - 320)));
   }
}

@media (max-width: 410px) {
   .logos__row {
      display: none;
   }
   .entry__title:before {
      width: 251px !important;
   }
}
.form__time {
   position: relative;
}
.select__time {
   // position: absolute;
}
.form__time::before {
   position: absolute;
   content: "";
   width: 15px;
   height: 15px;
   // z-index: 10;
   background: url("./../assets/popup/time.svg") center no-repeat;
}

.form__time select {
   appearance: none;
   background: url("./../assets/popup/arrow.svg") no-repeat 95% 50%;
   margin-right: 0;
}
