// shift+alt+f
//МИКСИНЫ================================
@import "mixin.scss";
//МИКСИНЫ================================

//подключение шрифтов====================
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
//подключение шрифтов====================

//шрифт по умолчанию====================
$fontfamily: "Roboto", sans-serif;
//шрифт по умолчанию====================

//переменные============================
$minwidth: 320px;
$mw: 1100px;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
:root {
   --bg-dark: #030303;
}
//переменные============================

// Файл обнуляющих стилей===============
@import "nullstyle.scss";
// Файл обнуляющих стилей===============

//ОБОЛОЧКА==============================
.wrapper {
   @include flexbox();
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
}
//ОБОЛОЧКА==============================

//ОСНОВНАЯ СЕТКА========================
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1440px;
   width: calc(100% - 40px);
   overflow: hidden;
}
//ОСНОВНАЯ СЕТКА========================

html {
   scroll-behavior: smooth;
}

a {
   color: inherit;
   text-decoration: none;
}

.scroll {
   &__up {
      position: fixed;
      right: 50px;
      bottom: 50px;
      z-index: 100;
      width: 50px;
      height: 50px;
      color: #710707;
      cursor: pointer;
      visibility: hidden;
      border-radius: 50%;
      box-shadow: inset 0 0 0 4px #dcdcdc;
      opacity: 0;
      transition: 0.2s;
      transform: translateY(25px);
   }
   &__up::before {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      justify-content: center;
      width: 100%;
      height: 100%;

      font-size: 25px;
      font-weight: 500;

      content: "↑";
   }
   &__up:hover {
      color: #710707;
   }
   &__up--active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
   }

   &__up-svg {
   }

   &__up-path {
      box-sizing: border-box;
      fill: none;
      stroke: #710707;
      stroke-width: 4px;
      transition: 0.2s;
   }
}

// HEADER ===========================
@import "header.scss";
// ==================================

.welcome {
   background-color: var(--bg-dark);
   color: #ffffff;

   &__row {
      position: relative;
      padding-bottom: calc(192px + (271 - 192) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__left {
      position: relative;
      pointer-events: none;
      left: 0;
      z-index: 5;
      transition: left 0.7s;
   }

   &__slider {
      position: absolute;
      // чтобы слайдер отображался
      width: calc(700px + (1000 - 700) * ((100vw - 1024px) / (1920 - 1024)));
      height: 100%;
      top: 0;
      left: calc(286px + (442 - 286) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__slider img {
      display: block;
      width: 100%;
   }

   &__panel {
      position: absolute;
      @include flexbox();
      justify-content: center;
      align-items: center;
      column-gap: calc(45px + (59 - 45) * ((100vw - 1024px) / (1920 - 1024)));
      bottom: 0;
      right: 0;
      max-width: calc(700px + (600 - 700) * ((100vw - 1024px) / (1920 - 1024)));
      width: 100%;
      height: 120px;
      background-color: #030303;
   }

   &__title {
      padding-top: calc(50px + (150 - 50) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__title span {
      display: block;
   }

   &__text {
      font-weight: 300;
      font-size: calc(24px + (28 - 24) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: calc(28px + (33 - 28) * ((100vw - 1024px) / (1920 - 1024)));
      letter-spacing: 2px;
      padding: calc(25px + (26 - 25) * ((100vw - 1024px) / (1920 - 1024))) 0
         calc(50px + (76 - 50) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__button {
      display: inline-block;
      pointer-events: auto;
      width: calc(300px + (360 - 300) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: calc(24px + (75 - 24) * ((100vw - 1024px) / (1920 - 1024)));
      border-radius: 10px;
      background-color: #710707;
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      letter-spacing: 2px;
      font-weight: 300;
      text-align: center;
      color: #ffffff;
   }

   &__button:hover {
      background-color: #9d8665;
      transition: linear 0.1s;
   }
}

.slider__item {
   width: calc(702px + (1000 - 702) * ((100vw - 1024px) / (1920 - 1024)));
}

// SLICK-SLIDER========================
@import "slick-slider.scss";
// ====================================

.section {
   &__title {
      font-family: Forum;
      font-size: calc(50px + (80 - 50) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: 90px;
      letter-spacing: 5px;
      font-weight: 400;
      text-transform: uppercase;
   }
}

@media (max-width: 1621px) {
   .welcome__button {
      padding-top: calc(18px + (1 - 18) * ((100vw - 1024px) / (1621 - 1024)));
   }
}

@media (max-width: 1024px) {
   .welcome {
      &__left._close {
         left: -100%;
      }

      &__button {
         padding-top: 18px;
      }
      &__panel {
         justify-content: flex-end;
         padding-right: 75px;
         column-gap: 45px;
         max-width: 700px;
      }
   }
}

@media (max-width: 768px) {
   .welcome {
      &__row {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 0;
      }
      &__slider {
         width: 100%;
         position: static;
      }
      &__title {
         text-align: center;
         padding-top: 0px;
      }

      &__text {
         font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1024 - 768)));
         line-height: 24px;
         text-align: center;
         padding-bottom: calc(48px + (50 - 48) * ((100vw - 768px) / (1024 - 768)));
      }
      &__button {
         display: none;
      }
      &__panel {
         position: static;
         justify-content: center;
         padding: 30px 0;
         max-height: 100px;
      }
   }
   .section__title {
      font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1024 - 768)));
      line-height: 60px;
   }
   .slider__item {
      width: calc(380px + (728 - 380) * ((100vw - 420px) / (768 - 420)));
   }
}

@media (max-width: 420px) {
   .welcome {
      &__row {
         padding-top: 21px;
      }
      &__text {
         font-size: calc(16px + (20 - 16) * ((100vw - 420px) / (768 - 420)));
         line-height: calc(18.75px + (24 - 18.75) * ((100vw - 420px) / (768 - 420)));
         text-align: center;
         padding-bottom: calc(48px + (50 - 48) * ((100vw - 420px) / (768 - 420)));
      }
      &__panel {
         column-gap: calc(23px + (45 - 23) * ((100vw - 420px) / (768 - 420)));
         max-height: 80px;
      }
   }
   .section__title {
      font-size: calc(28px + (40 - 28) * ((100vw - 420px) / (768 - 420)));
      line-height: calc(40px + (60 - 40) * ((100vw - 420px) / (768 - 420)));
   }
}

.visiting {
   &__body {
      padding-bottom: calc(60px + (74 - 60) * ((100vw - 1024px) / (1920 - 1024)));
   }
   &__title {
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(23px + (28 - 23) * ((100vw - 1024px) / (1920 - 1024)));
      position: relative;
      color: #9d8665;
   }
   &__border:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }
   &__column {
      @include flexbox();
      justify-content: center;
      column-gap: 60px;
      flex-wrap: wrap;
      margin: 0 -30px;
      flex: 0 1 33.33%;
   }
}

.card {
   color: #000000;
   &__img {
      padding-bottom: 25px;
   }
   &__link {
      display: block;
      max-width: calc(330px + (440 - 330) * ((100vw - 1024px) / (1920 - 1024)));
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
   }
   img {
      display: block;
      width: 100%;
   }
   &__title {
      position: relative;
      font-family: Forum;
      font-weight: 400;
      font-size: calc(28px + (32 - 28) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: 35px;
      letter-spacing: calc(3px + (5 - 3) * ((100vw - 1024px) / (1920 - 1024)));
      text-transform: uppercase;
      padding-bottom: 11px;
   }
   &__title:after {
      width: calc(150px + (300 - 150) * ((100vw - 1024px) / (1920 - 1024)));
      height: 2px;
      transition: ease 1s;
   }

   &__subtitle {
      padding: 10px 0 10px;
      font-weight: 100;
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: 26px;
   }

   &__text {
      font-weight: 100;
      font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: 22px;
   }
}
.card:hover .card__title::after {
   content: "";
   width: 100%;
   transition: width ease 1.2s;
}

.card img:hover {
   -webkit-filter: saturate(120%);
   filter: saturate(120%);
}
.card__link .card:hover {
   transform: scale(0.97);
   transition: 0.2s;
   img {
      box-shadow: 0 0 4px 1px;
      border-radius: 2px;
   }
}

@media (max-width: 1024px) {
   .visiting {
      &__title {
         line-height: 75px;
      }
      &__column {
         column-gap: 108px;
      }
   }
   .card {
      &__subtitle {
         line-height: 24px;
      }
      &__title {
         line-height: 30.91px;
         padding-bottom: 12px;
      }
      &__text {
         line-height: 18.75px;
      }
      &__img {
         padding-bottom: 26px;
      }
   }
}

@media (max-width: 768px) {
   .visiting {
      &__title {
         padding-top: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-bottom: calc(23px + (25 - 23) * ((100vw - 768px) / (1024 - 768)));
         line-height: 60px;
      }
      &__column {
         column-gap: calc(0px + (56 - 0) * ((100vw - 420px) / (768 - 420)));
      }
      &__body {
         padding-bottom: 80px;
      }
   }
   .card {
      &__img {
         padding-bottom: 23.64px;
      }

      &__link {
         max-width: calc(280px + (330 - 280) * ((100vw - 768px) / (1024 - 768)));
         padding-top: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768)));
      }
      &__title {
         font-size: calc(22px + (28 - 22) * ((100vw - 768px) / (1024 - 768)));
         line-height: 24.3px;
         padding-bottom: 11px;
         letter-spacing: 3px;
      }

      &__title::after {
         width: 150px;
      }
      &__subtitle {
         font-size: calc(18px + (20 - 18) * ((100vw - 768px) / (1024 - 768)));
         line-height: 21.1px;
      }
      &__text {
         font-size: 16px;
         line-height: 19px;
      }
   }
}

@media (max-width: 420px) {
   .visiting {
      &__title {
         padding-top: 41px;
         padding-bottom: 23px;
         line-height: 40px;
      }
      // &__column {
      //    column-gap: 56px;
      // }
      &__body {
         padding-bottom: 41px;
      }
   }
   .card {
      &__link {
         max-width: 280px;
         padding-top: 40px;
      }
      &__title {
         font-size: calc(18px + (22 - 18) * ((100vw - 420px) / (768 - 420)));
         line-height: 20px;
         padding-bottom: 12px;
         letter-spacing: 5px;
      }
      &__subtitle {
         font-size: calc(16px + (18 - 16) * ((100vw - 420px) / (768 - 420)));
         line-height: 18.8px;
      }
   }
}

.explore {
   background-color: var(--bg-dark);
   &__row {
      @include flexbox();
      justify-content: center;
      margin: 0 -30px;
      padding-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__describe {
      color: #ffffff;
      padding: 0 calc(0px + (30 - 0) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__title {
      position: relative;
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(23px + (28 - 23) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: calc(75px + (90 - 75) * ((100vw - 1024px) / (1920 - 1024)));
   }
   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      // width: 660px;
      width: 100%;
      height: 3px;
   }

   &__text {
      font-weight: 300;
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: 38.5px;
      padding-bottom: calc(0px + (25 - 0) * ((100vw - 1024px) / (1920 - 1024)));
      //max-width: 660px;
   }
   &__text:nth-child(2) {
      padding-bottom: calc(0px + (25 - 0) * ((100vw - 1024px) / (1920 - 1024)));
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
   }
   &__text:last-child {
      padding: 0px 0 0px 0;
   }

   span {
      color: #caaa7d;
   }

   &__compare {
      padding: 0px 32px 0 30px;
      padding-top: calc(62px + (90 - 62) * ((100vw - 1024px) / (1920 - 1024)));
      position: relative;
   }

   &__img {
      position: absolute;
      overflow: hidden;
      height: 100%;
   }
   &__img img {
      display: block;
      vertical-align: middle;
      height: 100%;
   }

   &__separator {
      user-select: none;
      flex-shrink: 0;
      // margin-top: 15px;
      width: 720px;
      height: 700px;
      position: relative;
   }
}

.img-comp-slider {
   position: absolute;
   z-index: 9;
   cursor: ew-resize;
   width: 40px;
   height: 700px;
   opacity: 0.7;
   border-radius: 50%;
   background: url("./../assets/img/explore/line.svg") no-repeat;
}

@media (max-width: 1870px) {
   .explore {
      &__row {
         flex-direction: column;
         margin: 0;
      }
      &__text:last-child {
         display: none;
      }
      &__text:nth-child(3) {
         line-height: 35px;
      }
      &__compare {
         display: flex;
         justify-content: center;
      }
   }
}

@media (max-width: 1024px) {
   .separator__container {
      left: calc(60.5% - 15px);
      width: 40px;
   }
   .img-comp-slider {
      height: calc(705px + (700 - 705) * ((100vw - 768px) / (1024 - 768)));
      background-size: 40px calc(705px + (700 - 705) * ((100vw - 768px) / (1024 - 768)));
   }
}
@media (max-width: 768px) {
   .explore {
      &__text {
         display: none;
      }
      &__row {
         padding-bottom: 0;
      }
      &__title {
         padding-top: 40px;
         padding-bottom: 23px;
         line-height: calc(41px + (60 - 41) * ((100vw - 420px) / (768 - 420)));
      }
      &__compare {
         padding: 40px 0 40px;
      }
      &__separator {
         width: 100%;
         height: calc((100vw * 700 / 720) - 40px);
         top: 0;
      }
      .img-comp-slider {
         height: calc(368px + (705 - 368) * ((100vw - 420px) / (768 - 420)));
         background-size: 40px calc(368px + (705 - 368) * ((100vw - 420px) / (768 - 420)));
      }
   }
   .separator__container {
      left: calc(61.5% - 25px);
   }
}
@media (max-width: 420px) {
   .separator__container {
      width: 21px;
      left: calc(60.5% - 10px);
   }
}

.video {
   &__section {
      position: relative;
      height: auto;
      transition: 2s;
      padding-bottom: 40px;
   }

   &__img {
      background-color: #000000;
   }

   &__player {
      position: relative;
      overflow: hidden;
      height: calc(504px + (735 - 504) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__player video {
      // fmax-height: 100%;
      width: 100%;
   }

   //сделать правильно
   &__play {
      position: absolute;
      background: url("./../assets/video/buuton_play.svg");
      background-size: calc(152px + (220 - 152) * ((100vw - 1024px) / (1920 - 1024)));
      width: calc(152px + (220 - 152) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(152px + (220 - 152) * ((100vw - 1024px) / (1920 - 1024)));
      left: 50%;
      top: 44.4%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      opacity: 1;
      transition-duration: 0s;
   }

   &__play:hover {
      background-color: transparent;
      filter: invert(64%) sepia(0%) saturate(518%) hue-rotate(149deg) brightness(96%) contrast(86%);
      transition: linear 0.2s;
      opacity: 0.9;
   }

   &__speed {
      position: absolute;
      z-index: 20;
      font-size: 30px;
      right: 30px;
      bottom: 15%;
      color: #ffffff;
   }

   &__panel {
      height: calc(60px + (85 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #000000;
      transform: translateY(-47%);
   }

   &__describe {
      padding: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024))) 0
         calc(40px + (75 - 40) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__row {
      @include flexbox();
      justify-content: space-between;
   }

   &__title {
      color: #9d8665;
      white-space: nowrap;
      line-height: calc(75px + (86 - 75) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__text {
      padding: 7px 0 0 0;
      font-size: 22px;
      font-weight: 300;
      line-height: 39px;
      max-width: 720px;
   }

   &-slides iframe,
   &__media iframe {
      max-width: 100%;
      width: 100%;
      height: calc(170px + (254 - 170) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__button {
      outline: none;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0;
      width: 68px;
      height: 48px;
      border: none;
      background-color: transparent;
      transform: translate(-50%, -50%);
      display: none;
   }
   &__button-shape {
      fill: #212121;
      fill-opacity: 0.8;
   }
   &-slides:hover .video__button-shape {
      fill: #ff0000;
      fill-opacity: 1;
   }

   &__button:focus .video__button-shape {
      fill: #ff0000;
      fill-opacity: 1;
   }
   &__button-icon {
      fill: #ffffff;
   }

   &__img {
      width: 100%;
      height: calc(170px + (254 - 170) * ((100vw - 1024px) / (1920 - 1024)));
   }
}
.video--enabled {
   cursor: pointer;
}
.video--enabled .video__button {
   display: block;
}

.panel {
   &__sound:nth-child(2) {
      display: none;
   }

   &__row {
      @include flexbox();
      justify-content: space-around;
      align-items: center;
      column-gap: calc(30px + (50 - 30) * ((100vw - 1024px) / (1920 - 1024)));
      height: 100%;
      padding: 0 calc(40px + (30 - 40) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__play {
      display: block;
      background: url("./../assets/video/play.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 23px;
      height: 30px;
      /* чтобы кнопки не ломались и не урезались */
      flex-shrink: 0;
      transition: all 0.4s;
   }

   &__play:hover,
   &__sound:hover,
   &__window:hover {
      background-color: transparent;
      filter: invert(60%) sepia(13%) saturate(7%) hue-rotate(325deg) brightness(99%) contrast(86%);
      transition: linear 0.2s;
   }

   &__timeline {
      // height: calc(8px + (8 - 5) * ((100vw - 1024px) / (1920 - 1024)));
      .progress {
         background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
         border: solid calc(0px + (2 - 0) * ((100vw - 1024px) / (1920 - 1024))) #740c11;
         height: calc(5px + (8 - 5) * ((100vw - 1024px) / (1920 - 1024)));
         width: 100%;
         border-radius: 10px;
         outline: none;
         -webkit-transition: background 450ms ease-in;
         transition: background 450ms ease-in;
         -webkit-appearance: none;
      }

      .progress::-webkit-slider-thumb {
         width: calc(13px + (15 - 13) * ((100vw - 1024px) / (1920 - 1024)));
         height: calc(13px + (15 - 13) * ((100vw - 1024px) / (1920 - 1024)));
         border-radius: 50%;
         -webkit-appearance: none;
         cursor: ew-resize;
         background: #c4c4c4;
      }
   }

   &__timeline.panel__width {
      width: calc(564px + (929 - 564) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__timeline.panel__soundcheck {
      width: calc(143px + (155 - 143) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__rigth {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      column-gap: calc(31px + (50 - 31) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__sound {
      display: block;
      background: url("./../assets/video/sound.svg") no-repeat;
      background-size: calc(26px + (38 - 26) * ((100vw - 1024px) / (1920 - 1024)))
         calc(20px + (30 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      width: calc(26px + (38 - 26) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(20px + (30 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      flex-shrink: 0;
      transition: all 0.4s;
   }

   &__window {
      background: url("./../assets/video/window.svg");
      background-size: calc(26px + (36 - 26) * ((100vw - 1024px) / (1920 - 1024)));
      width: calc(26px + (36 - 26) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(26px + (36 - 26) * ((100vw - 1024px) / (1920 - 1024)));
      flex-shrink: 0;
      padding: 0 5px 0 0;
   }
}

@media (max-width: 1276px) {
   .video__text {
      display: none;
   }
}

@media (max-width: 1023px) {
   .video-slides iframe,
   .video__media iframe {
      width: 100%;
      height: calc(199px + (250 - 199) * ((100vw - 768px) / (1023 - 768)));
   }

   .video__img {
      height: calc(199px + (250 - 199) * ((100vw - 768px) / (1023 - 768)));
   }
   .video__player {
      max-height: calc(329px + (444 - 329) * ((100vw - 768px) / (1023 - 768)));
   }
   .video__describe {
      padding: calc(40px + (60 - 40) * ((100vw - 768px) / (1023 - 768))) 0
         calc(20px + (40 - 20) * ((100vw - 768px) / (1023 - 768)));
   }
   .video__title {
      line-height: calc(60px + (75 - 60) * ((100vw - 768px) / (1023 - 768)));
   }
}
@media (max-width: 768px) {
   .video {
      &__title {
         line-height: 60px;
      }
      &__describe {
         padding: 40px 0 20px;
      }
      &__player {
         max-height: 329px;
      }
      &__speed {
         font-size: 25px;
         right: 25px;
         bottom: 16%;
      }
      &__play {
         background-size: calc(80px + (152 - 80) * ((100vw - 768px) / (1024 - 768)));
         width: calc(80px + (152 - 80) * ((100vw - 768px) / (1024 - 768)));
         height: calc(80px + (152 - 80) * ((100vw - 768px) / (1024 - 768)));
      }
      &__panel {
         position: relative;
         height: calc(53px + (60 - 53) * ((100vw - 768px) / (1024 - 768)));
      }
      &-slides iframe,
      &__media iframe {
         width: 100%;
         height: 199px;
      }
      &__section {
         padding-bottom: calc(20px + (40 - 20) * ((100vw - 768px) / (1024 - 768)));
      }
   }
   .panel {
      &__row {
         padding: 0 calc(30px + (40 - 30) * ((100vw - 768px) / (1024 - 768)));
         column-gap: calc(35px + (30 - 35) * ((100vw - 768px) / (1024 - 768)));
      }

      &__sound:nth-child(2) {
         display: block;
      }
      &__sound:nth-child(4) {
         display: none;
      }
      &__sound {
         width: calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)));
         height: calc(14px + (21 - 14) * ((100vw - 420px) / (768 - 420)));
         background-size: calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)))
            calc(14px + (21 - 14) * ((100vw - 420px) / (768 - 420)));
      }
      &__window {
         width: calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)));
         height: calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)));
         background-size: calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)));
      }
      &__play {
         width: calc(14px + (23 - 14) * ((100vw - 420px) / (768 - 420)));
         height: calc(18px + (30 - 18) * ((100vw - 420px) / (768 - 420)));
         background-size: calc(14px + (23 - 14) * ((100vw - 420px) / (768 - 420)))
            calc(18px + (27 - 18) * ((100vw - 420px) / (768 - 420)));
      }
      &__timeline.panel__width {
         position: absolute;
         top: -3px;
         left: 0;
         z-index: 10;
         width: 100%;
      }
   }
   .panel__timeline.panel__soundcheck {
      width: calc(486px + (564 - 486) * ((100vw - 768px) / (1024 - 768)));
   }
}
@media (max-width: 767px) {
   .video {
      &__title {
         line-height: 40px;
      }
      &__describe {
         padding: calc(36px + (40 - 36) * ((100vw - 420px) / (767 - 420))) 0 20px;
      }
      &__player {
         max-height: calc(172px + (329 - 172) * ((100vw - 420px) / (767 - 420)));
      }
      &__play {
         background-size: calc(50px + (80 - 50) * ((100vw - 420px) / (767 - 420)));
         width: calc(50px + (80 - 50) * ((100vw - 420px) / (767 - 420)));
         height: calc(50px + (80 - 50) * ((100vw - 420px) / (767 - 420)));
      }
      &__panel {
         height: calc(50px + (53 - 50) * ((100vw - 420px) / (767 - 420)));
      }
      &__section {
         padding-bottom: 40px;
      }
      &-slides iframe,
      &__media iframe,
      &__img {
         width: 100%;
         height: calc(101px + (199 - 101) * ((100vw - 420px) / (767 - 420)));
      }
   }
   .panel {
      &__row {
         padding: 0 20px;
         column-gap: 30px;
      }
   }
   // .panel__timeline.panel__soundcheck {
   //    width: 200px;
   // }
}

@media (max-width: 420px) {
   .panel__timeline.panel__width {
      position: absolute;
      top: -1px;
      left: 0;
      z-index: 10;
      width: 100%;
   }
   .video__speed {
      font-size: 20px;
      right: 20px;
      bottom: 18%;
   }
}

// SWIPER-SLIDER================================
@import "swiper-slider.scss";
// =============================================

.gallery {
   background-color: var(--bg-dark);
   color: #ffffff;
   &__title {
      padding: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024))) 0;
      line-height: calc(75px + (90 - 75) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__container {
      position: relative;
      height: calc(1265px + (1960 - 1265) * ((100vw - 1024px) / (1920 - 1024)));
      margin: 0 auto;
      overflow: hidden;
   }
   &__container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
         0deg,
         rgba(0, 0, 0, 1) 1%,
         rgba(0, 0, 0, 0.61) 6%,
         rgba(0, 0, 0, 0) 16%,
         rgba(0, 0, 0, 0) 26%
      );
   }

   &__inner {
      max-width: 100%;
      height: 3000px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      row-gap: 24px;
      column-gap: 15px;
   }

   &__inner::before,
   &__inner::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
   }

   &__img {
      overflow: hidden;
      width: calc(304px + (456 - 304) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__img:nth-child(3n + 1) {
      order: 1;
   }
   &__img:nth-child(3n + 2) {
      order: 2;
   }
   &__img:nth-child(3n) {
      order: 3;
   }

   &__img img {
      display: block;
      width: 100%;
   }
}

.gallery__inner .slide__in {
   opacity: 0;
   transform: translate(0, 10%);
   transition: all 0.8s ease 0s;
}
.gallery__inner .active {
   opacity: 1;
   transform: translate(0, 0);
}

@media (max-width: 1024px) {
   .gallery {
      &__title {
         font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768))) 0;
         line-height: calc(60px + (75 - 60) * ((100vw - 768px) / (1024 - 768)));
      }

      &__container {
         height: calc(1080px + (1265 - 1080) * ((100vw - 768px) / (1024 - 768)));
      }
      &__img {
         width: calc(352px + (304 - 352) * ((100vw - 768px) / (1024 - 768)));
      }
   }
}

@media (max-width: 1023px) {
   .gallery {
      &__inner {
         column-gap: 12px;
         height: 4000px;
         // justify-content: center;
      }
      &__img img {
         height: auto;
      }
      &__img:nth-child(2n + 1) {
         order: 1;
      }
      &__img:nth-child(2n) {
         order: 2;
      }
      &__img:nth-child(3) {
         padding: 0px 0 0 0 !important;
      }
   }
}

@media (max-width: 768px) {
   .gallery {
      &__title {
         font-size: calc(28px + (40 - 28) * ((100vw - 420px) / (768 - 420)));
         padding: 41px 0;
         line-height: calc(40px + (60 - 40) * ((100vw - 420px) / (768 - 420)));
      }
      &__container {
         height: calc(637px + (1080 - 637) * ((100vw - 420px) / (768 - 420)));
      }
      &__img {
         width: calc(178px + (352 - 178) * ((100vw - 420px) / (768 - 420)));
      }
   }
}

.tickets {
   background: #ffffff;
   color: #000000;
   &__title {
      color: #9d8665;
      position: relative;
      padding: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024))) 0
         calc(23px + (28 - 23) * ((100vw - 1024px) / (1920 - 1024))) 0;
      line-height: calc(75px + (90 - 75) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }

   &__main {
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__row {
      @include flexbox();
      column-gap: calc(80px + (60 - 80) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__image img {
      display: block;
      object-fit: cover;
      width: calc(700px + (720 - 700) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(440px + (550 - 440) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__section {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
   }

   &__price {
      @include flexbox();
      flex-direction: column;
   }

   &__amount {
      padding: 0 0 51px 0;
   }
}

.type {
   &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      padding: 0 0 50px 0;
   }

   &__row {
      @include flexbox();
      flex-direction: column;
      white-space: nowrap;
      row-gap: 25px;
   }

   &__radio {
      padding-left: 39px;
      display: block;
      position: relative;
      //cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      label {
         font-weight: 300;
         font-size: 22px;
         line-height: 26px;
      }
      input {
         position: absolute;
         top: 5px;
         left: 2px;
         opacity: 0;
         cursor: pointer;
         z-index: 5;
      }
   }
   &__radio:last-child {
      margin-bottom: 0;
   }

   &__checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      height: 17px;
      width: 17px;
      border: solid 2px #000000;
      border-radius: 50%;
   }

   &__checkmark:after {
      content: "";
      position: absolute;
      display: none;
   }

   &__radio input:checked ~ .type__checkmark:after {
      display: block;
   }

   &__radio .type__checkmark:after {
      top: 2.9px;
      left: 3.2px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #000000;
   }
}
.amount {
   &__title {
      font-size: 28px;
      line-height: 33px;
      font-weight: 700;
      text-align: right;
      padding-bottom: 27px;
   }

   &__row {
      @include flexbox();
      flex-direction: column;
      padding-bottom: 0px;
      row-gap: calc(29px + (12 - 29) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__position {
      width: 150px;
      padding-left: calc(0px + (25 - 0) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__text {
      font-size: 22px;
      line-height: 26px;
      font-weight: 300;
      padding: 0 2px 13px 0;
   }

   &__number {
      @include flexbox();
      justify-content: space-between;
      text-align: center;
      width: calc(175px + (150 - 175) * ((100vw - 1024px) / (1920 - 1024)));
      height: 50px;
      border: solid 3px #000000;
      .number {
         appearance: none;
         all: unset;
         width: 3em;
         text-align: center;
         font-weight: 300;
         font-size: 22px;
         line-height: 26px;
      }
   }

   &__sign {
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      background-color: transparent;
   }

   &__plus {
      margin: auto;
   }

   &__minus {
      margin: auto;
   }
}

.total {
   &__title {
      padding: 0 0px 60px 25px;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 1.65px;
      white-space: nowrap;
   }
   // &__title span {
   //    margin-right: 30px;
   // }

   &__buy {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      color: #ffffff;
      width: 175px;
      height: 50px;
      background-color: #000000;
      border-radius: 2px;
   }

   &__buy:hover {
      background-color: #9d8665;
      transform: scale(0.95);
      transition: linear 0.1s;
   }
}

@media (max-width: 1256px) {
   .tickets__type {
      display: none;
   }
   .tickets__main {
      justify-content: center;
   }
   .amount__title {
      text-align: left;
   }
   .total__title {
      padding: 0 0 69px 0;
      text-align: left;
   }
   .tickets__amount {
      padding-bottom: 24px;
   }
   .total__title span {
      padding-left: 16px;
   }
}

@media (max-width: 1024px) {
   .amount__title {
      padding-bottom: calc(39px + (31 - 39) * ((100vw - 768px) / (1024 - 768)));
   }
   .amount__text {
      padding-bottom: 10px;
   }
   .amount__row {
      row-gap: calc(25px + (29 - 25) * ((100vw - 768px) / (1024 - 768)));
   }
   .amount__number {
      width: 175px;
   }
   .total__title {
      padding-bottom: calc(40px + (69 - 40) * ((100vw - 768px) / (1024 - 768)));
   }

   .tickets {
      &__title {
         font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-top: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-bottom: calc(23px + (21 - 23) * ((100vw - 768px) / (1024 - 768)));
         line-height: calc(60px + (75 - 60) * ((100vw - 768px) / (1024 - 768)));
      }
      &__image img {
         width: calc(444px + (700 - 444) * ((100vw - 768px) / (1024 - 768)));
         height: calc(340px + (440 - 340) * ((100vw - 768px) / (1024 - 768)));
      }
      &__main {
         padding: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768))) 0;
      }
      &__row {
         column-gap: calc(60px + (80 - 60) * ((100vw - 768px) / (1024 - 768)));
      }
      &__amount {
         padding-bottom: calc(39px + (24 - 39) * ((100vw - 768px) / (1024 - 768)));
      }
   }
}

@media (max-width: 670px) {
   .tickets {
      &__title {
         font-size: calc(28px + (40 - 28) * ((100vw - 420px) / (768 - 420)));
         padding-top: calc(40px + (60 - 40) * ((100vw - 420px) / (768 - 420)));
         padding-bottom: calc(23px + (25 - 23) * ((100vw - 420px) / (768 - 420)));
         line-height: 40px;
      }
   }
   .tickets__row {
      flex-direction: column;
      align-items: center;
   }
   .tickets__main {
      padding: 39px 0;
   }
   .tickets__image img {
      width: 380px;
      object-fit: cover;
      max-height: 160px;
   }
   .tickets__section {
      width: inherit;
      padding: 40px 0 0;
   }
   .tickets__amount {
      padding-bottom: 0;
   }
   .amount {
      padding-bottom: 0;
      &__title {
         text-align: center;
         font-size: 16px;
         line-height: 19px;
         padding-bottom: 20px;
      }
      &__text {
         font-size: 16px;
         line-height: 19px;
         padding-bottom: 15px;
      }
   }
   .total__title {
      font-size: 16px;
      line-height: 19px;
      padding: 40px 0;
      letter-spacing: 1px;
      text-align: center;
   }
   .total__title span {
      padding-left: 0;
      padding-right: 3px;
   }
   .total__buy {
      font-size: 16px;
   }
}

.parallax {
   width: 100%;
   background-image: url("./../assets/img/parallaxx.jpg");
   height: 400px;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

@media (max-width: 768px) {
   .parallax {
      height: 300px;
   }
}

.contacts {
   &__title {
      position: relative;
      color: #9d8665;
      padding: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024))) 0
         calc(23px + (28 - 23) * ((100vw - 1024px) / (1920 - 1024))) 0;
      line-height: calc(75px + (90 - 75) * ((100vw - 1024px) / (1920 - 1024)));
   }
   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }

   &__row {
      @include flexbox();
      justify-content: space-between;
      padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(62px + (74 - 62) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__map {
      display: block;
      width: calc(694px + (960 - 694) * ((100vw - 1024px) / (1920 - 1024)));
      height: calc(454px + (620 - 454) * ((100vw - 1024px) / (1920 - 1024)));
   }
}

.adress {
   color: #000000;
   &__row {
      @include flexbox();
      flex-direction: column;
   }

   &__title {
      font-weight: 500;
      font-size: calc(24px + (28 - 24) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: calc(28.2px + (33 - 28.2) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__titles {
      padding-bottom: calc(34px + (50 - 34) * ((100vw - 1024px) / (1920 - 1024)));
   }

   &__adress {
      font-weight: 300;
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1920 - 1024)));
      line-height: calc(24px + (26 - 24) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(14px + (25 - 14) * ((100vw - 1024px) / (1920 - 1024)));
   }
}

// #map {
//    width: 100%;
//    height: 620px;
// }

@media (max-width: 1024px) {
   .contacts {
      &__title {
         font-size: calc(40px + (50 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-top: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-bottom: 23px;
         line-height: calc(60px + (75 - 60) * ((100vw - 768px) / (1024 - 768)));
      }

      &__row {
         padding-top: calc(40px + (60 - 40) * ((100vw - 768px) / (1024 - 768)));
         padding-bottom: calc(67px + (62 - 67) * ((100vw - 768px) / (1024 - 768)));
      }
   }
   .adress {
      &__title {
         font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1024 - 768)));
         line-height: calc(23.4px + (28.2 - 23.4) * ((100vw - 768px) / (1024 - 768)));
      }

      &__titles {
         padding-bottom: calc(40px + (34 - 40) * ((100vw - 768px) / (1024 - 768)));
      }
      &__row {
         padding-bottom: 25px;
      }

      &__adress {
         font-size: calc(18px + (20 - 18) * ((100vw - 768px) / (1024 - 768)));
         line-height: calc(21px + (24 - 21) * ((100vw - 768px) / (1024 - 768)));
         padding-bottom: calc(15px + (14 - 15) * ((100vw - 768px) / (1024 - 768)));
      }
   }
}

@media (max-width: 989px) {
   .contacts__row {
      flex-direction: column;
   }
}

@media (max-width: 768px) {
   .contacts__map {
      width: calc(380px + (728 - 380) * ((100vw - 420px) / (768 - 420)));
      height: calc(248px + (476 - 248) * ((100vw - 420px) / (768 - 420)));
   }
   .contacts__title {
      font-size: calc(28px + (40 - 28) * ((100vw - 420px) / (768 - 420)));
      padding-top: calc(41px + (39 - 41) * ((100vw - 420px) / (768 - 420)));
      padding-bottom: 23px;
      line-height: calc(40px + (60 - 40) * ((100vw - 420px) / (768 - 420)));
   }
   .contacts__row {
      padding: 40px 0 66px;
      padding-bottom: calc(40px + (66 - 40) * ((100vw - 420px) / (768 - 420)));
   }
   .adress {
      &__title {
         font-weight: 500;
         font-size: calc(16px + (20 - 16) * ((100vw - 420px) / (768 - 420)));
         line-height: calc(18.8px + (23.4 - 18.8) * ((100vw - 420px) / (768 - 420)));
      }

      &__titles {
         padding-bottom: 40px;
      }
      &__row {
         padding-bottom: 25px;
      }

      &__adress {
         font-size: calc(16px + (18 - 16) * ((100vw - 420px) / (768 - 420)));
         line-height: calc(19px + (21 - 19) * ((100vw - 420px) / (768 - 420)));
         padding-bottom: 15px;
      }
   }
}

.footer {
   background-color: var(--bg-dark);
   color: #ffffff;
   &__row {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
   }
   &__section {
      display: flex;
      flex-direction: column;
   }
   &__up {
      padding: 75px 0 40px 0;
      padding-top: calc(63px + (75 - 63) * ((100vw - 1024px) / (1920 - 1024)));
      padding-bottom: calc(50px + (40 - 50) * ((100vw - 1024px) / (1920 - 1024)));
   }
   &__down {
      padding: 51px 0 75px;
   }

   &__line {
      position: relative;
   }

   &__line::after {
      content: "";
      position: absolute;
      background: #666666;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
   }

   &__end {
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      font-weight: 100;
      opacity: 0.85;
   }
   &__year:hover,
   &__rsschool:hover,
   &__username:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
      transform: scale(0.95);
   }
}

.logo {
   @include flexbox();

   &__title {
      opacity: 0.8;
   }

   &__title:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
   }
}
.navigation {
   @include flexbox();
   column-gap: calc(120px + (173 - 120) * ((100vw - 1024px) / (1920 - 1024)));
   padding-right: calc(92px + (261 - 92) * ((100vw - 1024px) / (1920 - 1024)));

   &__container:last-child {
      padding-right: 0;
   }

   &__list {
      @include flexbox();
      flex-direction: column;
   }

   &__item {
      line-height: 50px;
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 2px;

      opacity: 0.75;
   }

   &__item:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
   }
}

.social {
   &__body {
      padding: 88px 0 0 0;
   }

   &__list {
      @include flexbox();
      column-gap: 25px;
   }

   &__item {
      @include flexbox();
      width: 48px;
      height: 48px;
      border: solid 2px #ffffff;
      border-radius: 50%;
   }

   &__item:hover {
      transition: linear 0.2s;
      border: solid 2px #9d8665;
      filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
   }
   &__link:first-child {
      margin-left: 0;
   }
   &__link:last-child {
      margin-right: 0;
   }

   &__youtube {
      background: url("./../assets/svg/social/youtube.svg") 48% 50% no-repeat;
   }

   &__instagram {
      background: url("./../assets/svg/social/instagram.svg") 48% 50% no-repeat;
   }

   &__facebook {
      background: url("./../assets/svg/social/facebook.svg") 52% 50% no-repeat;
   }

   &__twitter {
      background: url("./../assets/svg/social/twitter.svg") 50% no-repeat;
   }

   &__pinterest {
      background: url("./../assets/svg/social/pinterest.svg") 50% 50% no-repeat;
   }
}

.none {
   display: none;
}

@media (max-width: 1024px) {
   .navigation {
      padding-left: 34px;
   }
   .navigation__list {
      row-gap: 23px;
   }
   .social__body {
      padding-top: 84px;
   }
   .navigation__item {
      line-height: 29px;
   }
}

@media (max-width: 1010px) {
   .footer__row {
      flex-wrap: wrap;
      justify-content: flex-end;
   }
   .footer__up {
      padding-top: 48px;
      padding-bottom: 21px;
   }
   .navigation {
      column-gap: 182px;
   }
   .navigation__list {
      row-gap: 25px;
   }
   .navigation__item {
      font-size: 18px;
      line-height: 21px;
   }
   .social__body {
      padding: 48px 90px 20px 0;
   }
   .footer__end {
      justify-content: space-between;
   }
   .footer__down {
      padding: 40px 0;
   }
   .navigation {
      padding: 10px 89px 0 99px;
   }
   .footer__rsschool {
      padding-left: 13px;
   }
}
@media (max-width: 767px) {
   .footer__up .footer__row {
      flex-direction: column;
   }
   .logo__title .logotip {
      font-size: 16px;
      line-height: 18px;
      background-size: 28px 27px;
      padding-left: 49px;
   }
   .footer__up {
      padding: 40px 0 0px;
   }
   .social__list {
      column-gap: calc(5px + (25 - 5) * ((100vw - 420px) / (767 - 420)));
      padding: 0 60px;
   }
   .footer__rsschool {
      display: none;
   }
   .footer__year,
   .footer__username {
      font-size: 16px;
      line-height: 22px;
   }

   ._hidden {
      display: none;
   }
   .none {
      display: block;
   }
   .navigation {
      column-gap: 0;
      padding: 36px 0px 0px;
      max-width: 483px;
   }

   .navigation__item:first-child {
      order: 0;
      padding-right: 95px;
   }
   .navigation__item:nth-child(2) {
      order: 4;
      padding-right: 96px;
   }
   .navigation__item:nth-child(3) {
      order: 2;
      padding-right: 93px;
   }
   .navigation__item:nth-child(4) {
      order: 5;
      padding-right: 79px;
   }
   .navigation__item:nth-child(5) {
      order: 3;
   }
   .navigation__item:last-child {
      order: 6;
      padding-right: 0;
   }
   .navigation__item:nth-child(2),
   .navigation__item:nth-child(4),
   .navigation__item:nth-child(6) {
      padding-top: 30px;
   }

   .navigation__list {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 0;
   }
   .navigation__item {
      font-size: 16px;
      line-height: 18.75px;
   }
   .social__body {
      padding: 40px 0;
   }
   .navigation__container {
      height: 68px;
   }
   .footer__down {
      padding-left: 5px;
      padding-right: 5px;
   }
   .log {
      font-size: 16px;
      line-height: 25px;
      background-size: 28px 27px;
      padding-left: 49px;
   }
}

@media (max-width: 419px) {
   .navigation__item:first-child,
   .navigation__item:nth-child(2),
   .navigation__item:nth-child(3),
   .navigation__item:nth-child(4) {
      padding-right: calc(30px + (50 - 30) * ((100vw - 320px) / (420 - 320)));
   }
   .social__list {
      padding: 0 calc(0px + (60 - 0) * ((100vw - 320px) / (420 - 320)));
   }
}

// POPUP ============================
@import "popup.scss";
// ==================================

.activity {
   border: solid 1px red;
}
